* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #080808;
  color: #fff;
}

.website-contents {
  display: none;
}

.website-contents.active-section {
  display: block;
}

/* -------------- Navbar -------------- */

#navbar .container {
  padding: 15px 5%;
  /* background-color: #ff004f; */
}

#navbar .container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: right;
}

#navbar .container nav ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 20px;
}

#navbar .container nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  position: relative;
}

#navbar .container nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

#navbar .container nav ul li a:hover::after {
  width: 100%;
}

#navbar .container nav ul li p {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}

#navbar .container nav ul li p::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

#navbar .container nav ul li p:hover::after {
  width: 100%;
}

/* -------------- Header -------------- */
#header {
  width: 100%;
  height: 100vh;
}

#header .container {
  padding: 10px 10%;
}

#header .header .header-text {
  margin-top: 20%;
  font-size: 30px;
}

#header .header .header-text h1 {
  margin-top: 20px;
  font-size: 60px;
}

#header .header .header-text h1 span {
  color: #ff004f;
  transition: all 0.3s ease-in-out;
}

#header .header .header-text h1 span:hover {
  color: #ff004f;
  font-size: 70px;
}

/* -------------- About -------------- */

#about {
  width: 100%;
  height: 100vh;
}

#about .container {
  padding: 7% 10%;
}

#about .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#about .row .about-col-1 {
  flex-basis: 50%;
  padding: 20px 30px;
  /* background-color: aqua; */

}

#about .row .about-col-1 h1 {
  font-size: 48px;
}

#about .row .about-col-1 p {
  font-size: 36px;
  margin: 20px 0;
}

#about .row .about-col-2 {
  flex-basis: 50%;
  padding: 10px 30px;
}

#about .row .about-col-2 .tab-titles {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

#about .tab-titles .tab-links {
  font-size: 32px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

#about .tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

#about .tab-links.active-link::after {
  width: 100%;
}

#about .tab-contents {
  display: none;
}

#about .tab-contents.active-content {
  display: block;
  padding: 20px 0px;
}

#about .tab-contents ul li{
  list-style: none;
}

#about .tab-contents ul li.heading{
  color: #ff004f;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}


#about .tab-contents ul li.content{
  color: #ffffff;
  font-size: 18px;
  margin-bottom: 20px;
}

